.part-table {
  border-radius: 5px;
  margin: 10px 0;
  background-color: #111124;
}

.part-table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px;
  h3 {
    flex: 1;
  }
}

.part-table h3 {
  text-align: center;
}

.part-table table {
  border-collapse: collapse;
  min-width: 100%;
}

.part-table th,
.part-table td {
  padding: 10px 15px;
}

.part-table th {
  text-align: left;
  font-weight: 500;
  opacity: 75%;
}

.part-table .number {
  text-align: right;
}

.part-table tbody input:not(input[type='checkbox']) {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: inherit;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding-left: 10px;
}

.part-table td:has(input:not(input[type='checkbox'])) {
  position: relative;
  outline: solid white 2px;
}

.part-table tbody tr {
  background-color: #2c2c2c;

  &:nth-child(2n) {
    background-color: #353535;
  }
}

.empty-message {
  text-align: center;
  padding: 2rem;
}
